<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.oakland.racetracker"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:name=".RaceTrackerApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".MyMapActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".MapCreatorActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".LocationService" />
    </application>
</manifest>
